/*----- BASIC STYLES -----*/
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #070707;
  font-family: 'Open Sans', sans-serif;
}

/*--- typography ---*/
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.7rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.6;
}

h4 {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.6;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

h6 {
  font-size: 1.3rem;
  line-height: 1.5;
  text-transform: uppercase;
}

p,
li,
a {
  font-size: 1.7rem;
}

p,
li {
  line-height: 1.6;
}

.heading {
  padding: 1em 0 1.2em;
}

.text {
  margin-bottom: 1.7em;
}

.text:only-child,
.text:last-child {
  margin-bottom: 0;
}

.text a {
  border-bottom: 1px solid #070707;
}

.side-text {
  font-size: 1.4rem;
  line-height: 1.5;
}

/*--- links ---*/
a {
  text-decoration: none;
}

/*--- forms ---*/
/*--- images ---*/

/*--- LAYOUT STYLES ---*/
/*--- header ---*/
.header {
  /*dev*/background-color: rgba(0, 0, 100, .5);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  height: 50px;
}

/* menu */
.navbar {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.menu {
  background-color: #fafafa;
  display: none;
  height: 100vh;
  left: 0;
  opacity: .98;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu li:first-child {
  margin-top: 5em;
}

.menu a {
  cursor: pointer;
}

/* menutoggle */
.toggle,
.menuopen span::before,
.menuopen span::after {
  z-index: 999;
}

.toggle span,
.menuopen span {
  display: block;
  height: 5px;
  position: relative;
}

.menuopen span {
  width: 44px;
}

.toggle span {
  background-color: #070707;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
  width: 37px;
}

.toggle span::before,
.toggle span::after {
  background-color: #070707;
  content: ' ';
  display: block;
  height: 5px;
  position: absolute;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  width: 37px;
}

.toggle span::before {
  top: -13px;
}

.toggle span::after {
  bottom: -13px;
}

.menuopen span {
  background-color: transparent;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
}

.menuopen span::before,
.menuopen span::after {
  background-color: #070707;
  content: ' ';
  display: block;
  height: 5px;
  position: absolute;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  width: 44px;
}

.menuopen span::before {
  -webkit-transform: translateY(13px) rotateZ(45deg);
  -moz-transform: translateY(13px) rotateZ(45deg);
  -ms-transform: translateY(13px) rotateZ(45deg);
  -o-transform: translateY(13px) rotateZ(45deg);
  transform: translateY(13px) rotateZ(45deg);
}

.menuopen span::after {
  -webkit-transform: translateY(-13px) rotateZ(-45deg);
  -moz-transform: translateY(-13px) rotateZ(-45deg);
  -ms-transform: translateY(-13px) rotateZ(-45deg);
  -o-transform: translateY(-13px) rotateZ(-45deg);
  transform: translateY(-13px) rotateZ(-45deg);
}

/*--- main content ---*/

.content {
  margin: 0 1.5rem 7em;
}

/* uvp */
.uvp {
  /*dev*/background-color: rgba(255, 0, 0, .5);
  height: 100vh;
  margin-bottom: 7em;
  width: 100%;
}

/* about */
.about {
  /*dev*/background-color: rgba(0, 255, 0, .5);
  height: 200px;
}

/* service */
.service {
  /*dev*/background-color: rgba(0, 0, 255, .5);
  height: 200px;
}
/* contact */
.contact {
  /*dev*/background-color: rgba(100, 0, 0, .5);
  height: 200px;
}

/*--- footer ---*/
.copyright {
  font-size: 1rem;
}
/* social */


/*-------------------*/
/*------- 600 -------*/
/*-------------------*/
@media (min-width: 600px) {

  /*----- BASIC STYLES 600-----*/

  /*--- LAYOUT STYLES 600---*/
  /*--- header 600 ---*/
  /* menu 600 */

  /*--- main content 600 ---*/
  /* uvp 600 */
  /* about 600 */
  /* service 600 */
  /* contact 600 */

  /*--- footer 600 ---*/
  /* social 600 */
}

/*-------------------*/
/*------- 900 -------*/
/*-------------------*/
@media (min-width: 900px) {

  /*----- BASIC STYLES 900-----*/
  .heading-1 {
    font-size: 4.7rem;
  }

  /*--- LAYOUT STYLES 900---*/
  /*--- header 900 ---*/
  /* menu 900 */
  .menu {
    background-color: transparent;
    display: -webkit-flex !important;
    display: flex !important;
    height: auto;
    position: static;
    text-align: left;
    width: auto;
  }

  .menu li {
    margin-right: 2rem;
  }

  .menu li:first-child {
    margin-top: 0;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  /* menutoggle 900 */
  .toggle {
    display: none;
  }

  /*--- main content 900 ---*/
  /* uvp 900 */
  /* about 900 */
  /* service 900 */
  /* contact 900 */

  /*--- footer 900 ---*/
  /* social 900 */
}

/*-------------------*/
/*------- 1200 -------*/
/*-------------------*/
@media (min-width: 1200px) {

  /*----- BASIC STYLES 1200-----*/
  .heading-1 {
    font-size: 6rem;
  }

  .heading-2 {
    font-size: 3.7rem;
  }

  /*--- LAYOUT STYLES 1200---*/
  /*--- header 1200 ---*/
  .navbar {
    height: 70px;
    padding: 0 2.7rem;
  }

  .logo {
    height: 70px;
  }

  /* menu 1200 */

  /*--- main content 1200 ---*/
  .content {
    margin-bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }

  /* uvp 1200 */
  .uvp {
    margin-bottom: 12rem;
  }

  /* about 1200 */
  /* service 1200 */
  /* contact 1200 */

  /*--- footer 1200 ---*/
  /* social 1200 */
}

/*-------------------*/
/*------- 1600 -------*/
/*-------------------*/
@media (min-width: 1600px) {

}
